useDynLib(auteur.extended)

export(
add.transparency,
adjustrate,
adjustvalue,
assess.lnR,
assignroot,
bm.lik.fn,
branchcol.plot,
calibrate.jumpsize,
choose.one,
cleanup.files,
collect.nodes,
compare.rates,
determine.accepted.proposal,
edgelabels.rj,
find.relatives,
fit.continuous,
generate.error.message,
generate.log,
generate.starting.point,
get.ancestor.of.node,
get.ancestors.of.node,
get.desc.of.node,
get.descendants.of.node,
get.epochs,
get.times,
hdr,
infer.y,
intercalate.samples,
is.root,
nearest.pair,
parlogger,
pathlengths,
pool.rjmcmcsamples,
prepare.data,
prepare.ouchdata,
prunelastsplit,
ptpois,
oumat,
ouweights,
ouch.ou.lik.fn,
ou.lik.fn,
randomization.test,
rjmcmc.bm,
rjmcmc.ou,
rtpois,
shifts.plot,
splitormerge,
splitrate,
splitvalue,
summarize.run,
table.print,
trace.plot,
tracer,
tune.rate,
tune.value,
ultrametricize,
updatevcv,
vmat,
withinrange	
)

#importFrom( utils, capture.output )
