useDynLib(auteur)

export(
add.transparency,
adjustjump,
adjustrate,
adjustshift,
adjustvalue,
assess.lnR,
assigndescendants,
bm.lik.fn,
bm.reml.fn,
branchcol.plot,
calibrate.proposalwidth,
checkrates,
circularplot,
choose.one,
cleanup.files,
collect.nodes,
compare.rates,
edgelabels.rj,
find.relatives,
fit.continuous,
fit.hansen,
generate.error.message,
generate.starting.point,
get.ancestor.of.node,
get.ancestors,
get.ancestors.of.node,
get.desc.of.node,
get.descendants.of.node,
get.epochs,
get.times,
hdr,
infer.y,
intercalate.samples,
is.root,
jumps.edgewise,
levyevolver,
lnprior.exp,
nearest.pair,
oumat,
ouweights,
ou.lik.fn,
parlogger,
phenogram,
pic_variance,
plotfangram,
pool.rjmcmcsamples,
prepare.data.bm,
proposal.multiplier,
proposal.slidingwindow,
prunelastsplit,
ptpois,
randomization.test,
rjmcmc.bm,
rtpois,
shifts.plot,
splitormerge,
splitrate,
splitvalue,
summarize.run,
table.print,
trace.plot,
tracer,
tree.slide,
tune.rate,
tune.value,
ultrametricize,
unexcludeddescendants,
updatevcv,
updateJvcv,
updateLvcv,
updatetree,
vmat,
withinrange	
)

#importFrom( utils, capture.output )
