useDynLib(auteurExtended)

export(
add.transparency,
adjustjump,
adjustrate,
adjustvalue,
assess.lnR,
bm.lik.fn,
branchcol.plot,
calibrate.proposalwidth,
choose.one,
cleanup.files,
collect.nodes,
compare.rates,
edgelabels.rj,
find.relatives,
fit.continuous,
fit.hansen,
generate.error.message,
generate.starting.point,
get.ancestor.of.node,
get.ancestors,
get.ancestors.of.node,
get.desc.of.node,
get.descendants.of.node,
get.epochs,
get.times,
hdr,
infer.y,
intercalate.samples,
is.root,
nearest.pair,
jumps.edgewise,
oumat,
ouweights,
ou.lik.fn,
levyevolver,
mcmc.levy,
parlogger,
phenogram,
pool.rjmcmcsamples,
prepare.data,
prunelastsplit,
ptpois,
randomization.test,
rjmcmc.bm,
rjmcmc.ou,
rtpois,
shifts.plot,
splitormerge,
splitrate,
splitvalue,
summarize.run,
table.print,
trace.plot,
tracer,
tree.slide,
tune.rate,
tune.value,
ultrametricize,
updatevcv,
updateJvcv,
updateLvcv,
vmat,
withinrange	
)

#importFrom( utils, capture.output )
